@if(errorMsg){
<div class="w-3/4 mx-auto">
    <div class="p-4 mb-4 text-sm text-red-800 rounded-lg bg-red-50 dark:bg-gray-800 dark:text-red-400" role="alert">
        <p>Error: {{errorMsg}}</p>
    </div>
</div>
}
@if (!isCodeForm && !isResetForm) {
<div class="w-3/4 mx-auto">
    <h3 class="text-main">Send your email</h3>

    <form [formGroup]="emailForm" (ngSubmit)="sendEmail()">

        <div>
            <label for="email">Email</label>
            <input type="email" class="w-full" id="email" formControlName="email">
            @if(emailForm.get('email')?.errors && emailForm.get('email')?.touched) {
            <div class="p-4 mb-4 text-sm text-red-800 rounded-lg bg-red-50 dark:bg-gray-800 dark:text-red-400"
                role="alert">
                @if (emailForm.get('email')?.getError('required')) {<p>email is required</p>}
                @else if (emailForm.get('email')?.getError('email')) {<p>email is invalid</p>}
            </div>
            }
        </div>
        <button [disabled]="emailForm.invalid" class="btn-main my-2">Submit
            @if (isLoading) {
            <i class="fa fa-spin fa-spinner"></i>
            }

        </button>
    </form>
</div>
}

@if (isCodeForm) {
<div class="w-3/4 mx-auto">
    <h3 class="text-main">Send your code</h3>

    <form [formGroup]="codeForm" (ngSubmit)="sendCode()">

        <div>
            <label for="code">Code</label>
            <input type="text" class="w-full" id="code" formControlName="resetCode">
            @if(codeForm.get('resetCode')?.errors && codeForm.get('resetCode')?.touched) {
            <div class="p-4 mb-4 text-sm text-red-800 rounded-lg bg-red-50 dark:bg-gray-800 dark:text-red-400"
                role="alert">
                @if (codeForm.get('resetCode')?.getError('required')) {<p>code is required</p>}
            </div>
            }
        </div>
        <button [disabled]="codeForm.invalid" class="btn-main my-2">Submit
            @if (isLoading) {
            <i class="fa fa-spin fa-spinner"></i>
            }
        </button>
    </form>
</div>
}

@if (isResetForm) {
<div class="w-3/4 mx-auto">
    <h3 class="text-main">Reset your password</h3>

    <form [formGroup]="resetDataForm" (ngSubmit)="resetData()">

        <div>
            <label for="email">Email</label>
            <input type="email" class="w-full" id="email" formControlName="email">
            @if(resetDataForm.get('email')?.errors && resetDataForm.get('email')?.touched) {
            <div class="p-4 mb-4 text-sm text-red-800 rounded-lg bg-red-50 dark:bg-gray-800 dark:text-red-400"
                role="alert">
                @if (resetDataForm.get('email')?.getError('required')) {<p>email is required</p>}
                @else if (resetDataForm.get('email')?.getError('email')) {<p>email is invalid</p>}
            </div>
            }
        </div>
        <div>
            <label for="password">Password</label>
            <input type="password" class="w-full" id="password" formControlName="newPassword">
            @if(resetDataForm.get('newPassword')?.errors && resetDataForm.get('newPassword')?.touched) {
            <div class="p-4 mb-4 text-sm text-red-800 rounded-lg bg-red-50 dark:bg-gray-800 dark:text-red-400"
                role="alert">
                @if (resetDataForm.get('newPassword')?.getError('required')) {<p>password is required</p>}
                @else if (resetDataForm.get('newPassword')?.getError('pattern')) {<p>password is invalid</p>}
            </div>
            }
        </div>
        <button [disabled]="resetDataForm.invalid" class="btn-main my-2">Submit
            @if (isLoading) {
            <i class="fa fa-spin fa-spinner"></i>
            }
        </button>
    </form>
</div>
}