<div class="w-3/4 mx-auto">
    <h2 class="my-9 text-main font-extrabold fa-2xl">My Cart</h2>
@if (myCart?.data?.products?.length !== 0) {
    <h5>total price : {{myCart.data.totalCartPrice}}</h5>

<button class="btn-main my-7" [routerLink]="['/checkout',myCart.cartId]">Payment</button>
<button class="btn-main" (click)="clearCart()">Clear cart</button>
}

@for (product of myCart?.data?.products; track $index) {
    
    <div class="flex flex-wrap items-center my-3">
        <div class="w-2/12">
            <img [src]="product.product.imageCover" class="w-full" [alt]="product.product.title">
        </div>

        <div class="w-7/12">
            <div class="mx-5">
            <h2>{{product.product.title}}</h2>
            <span>Price: {{product.price}}</span>
            <br>
            <i class="fa-solid fa-trash text-red-500 cursor-pointer" (click)="removeItem(product.product._id)"> Remove</i>
        </div>
        </div>
        <div class="w-3/12 flex justify-center gap-5 items-center">
            <i class="fa-solid fa-plus-circle cursor-pointer" (click)="updateQuantity(product.product._id,product.count+1)"></i>
            <span>{{product.count}}</span>
            <i class="fa-solid fa-minus-circle cursor-pointer" (click)="updateQuantity(product.product._id,product.count-1)"></i>
        </div>
    </div>
}
@empty {
    <div class="w-4/12">
    <img src="./assets/images/emptycart.png" class="w-full" alt="Empty Cart">
</div>
}

</div>